{% extends 'base.html' %}
{% block title %}
login-voice based email system
    {% endblock %}
{% block body %}
{% for msg in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>ooopsss!!!</strong> {{ msg }}.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<h1>Login</h1>
<form method="post" action="/login/">{% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="pass1" class="form-control" id="exampleInputPassword1">
  </div>



  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="submit" class="btn btn-primary">Speak</button>
  <p>Don't have an account <a href="/">Signup.</a></p>
</form>
{% endblock %}